@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* General */

:root {
  --color-primary: #f7e4d6;
  --color-secondary: #9f3e2e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

.bold {
  font-weight: bold;
}

.text-c {
  font-family: "Caprasimo", cursive;
}

.text-r {
  font-family: "Roboto", sans-serif;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  z-index: 999;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.navbar-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  font-size: 3rem;
}

.nav-logo a {
  text-decoration: none;
  color: var(--color-secondary);
}

.nav-links {
  display: flex;
  gap: 40px;
  font-size: 1.25rem;
  margin-left: 28px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover {
  transform: scale(1.1);
}

/* Home */

.home {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.overlay-container {
  background-color: white;
  height: 1100px;
  width: 850px;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  z-index: 1;
  position: relative;
  border-top-left-radius: 9999px; /* Ensures a fully rounded corner */
  border-top-right-radius: 9999px;
}

.overlay {
  background-color: var(--color-primary);
  height: 85%;
  width: 85%;
  padding: 5% 0;
  margin: 10% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 9999px; /* Ensures a fully rounded corner */
  border-top-right-radius: 9999px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 2% 0;
  color: var(--color-secondary);
}

svg {
  width: 260px;
  height: 130px;
  position: absolute;
  top: 15%;
  left: 5%;
  transform: rotate(-35deg);
}

#curve {
  fill: transparent;
}

.text {
  font-size: 32px;
  fill: var(--color-secondary);
}

.overlay-content h1 {
  font-size: 45px;
  margin-bottom: 40%;
}

.overlay-content h2 {
  margin: 15% 0 5%;
  font-size: 35px;
}

.overlay-content p {
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  font-size: 28px;
  text-transform: uppercase;
}

.logo {
  z-index: 0;
  position: absolute;
  top: 17%;
  left: 5%;
  height: 30%;
}

/* Contact */

.contact-container {
  background-color: var(--color-primary);
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.contact-container h1 {
  font-size: 60px;
  margin: 5%;
  font-family: "Caprasimo", cursive;
  color: var(--color-secondary);
}

.contact-container p {
  font-size: 25px;
  text-align: center;
  margin: 5%;
  font-family: "Caprasimo", cursive;
  color: var(--color-secondary);
}

.contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  padding: 20px;
}

.contact-form > label {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  font-size: 20px;
}

.contact-form > input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form > input[type="submit"] {
  width: 40%;
  margin: 5%;
  padding: 1%;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Caprasimo", cursive;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.contact-form > input[type="submit"]:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

/* Info */

.info {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info h1 {
  font-size: 60px;
  margin: 5% 0 0 0;
  font-family: "Caprasimo", cursive;
  color: var(--color-secondary);
}

.info h3 {
  font-size: 35px;
  font-family: "Caprasimo", cursive;
  color: var(--color-secondary);
}

.info p {
  font-size: 22px;
  text-align: center;
  margin-top: 5%;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5%;
}

.info-card {
  background-color: var(--color-secondary);
  width: 30%;
  height: 400px;
  margin: 2%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  text-align: center;
}

.info-card h2 {
  font-size: 30px;
  margin: 5% 0;
}

.info-card button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10%;
}
.info-card button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

/* Gift */

.gift {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gift h1 {
  font-size: 60px;
  margin: 5% 0;
  font-family: "Caprasimo", cursive;
  color: var(--color-secondary);
}

.gift p {
  font-size: 22px;
  text-align: center;
  font-family: "Caprasimo", cursive;
  color: var(--color-secondary);
  margin: 2% 0 0 0;
}

.gift-card {
  background-color: var(--color-secondary);
  width: 30%;
  height: 500px;
  margin: 3%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  text-align: left;
}

.gift-card h2 {
  font-size: 25px;
  margin: 5% 0;
}

.gift-card p {
  font-size: 18px;
  margin: 5% 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  text-align: left;
}

/* Media Queries */

@media (max-width: 960px) {
  /* Navbar */

  .navbar-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
  }

  .navbar-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    margin: 5%;
  }

  .overlay-container {
    background-color: white;
    height: 900px;
    width: 90%;
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    z-index: 1;
    position: relative;
    border-top-left-radius: 9999px; /* Ensures a fully rounded corner */
    border-top-right-radius: 9999px;
  }

  .overlay-content h1 {
    font-size: 40px;
    margin-bottom: 30%;
  }
  
  .overlay-content h2 {
    margin: 15% 0 5%;
    font-size: 30px;
  }
  
  .overlay-content p {
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
    font-size: 22px;
    text-transform: uppercase;
  }

  svg {
    width: 260px;
    height: 130px;
    position: absolute;
    top: 10%;
    left: 7%;
    transform: rotate(-25deg);
  }
  
  .info-card {
    background-color: var(--color-secondary);
    width: 40%;
    height: 350px;
    margin: 3%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    color: var(--color-primary);
    text-align: center;
  }

  .gift-card {
    background-color: var(--color-secondary);
    width: 60%;
    height: 450px;
    margin: 5%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    color: var(--color-primary);
    text-align: left;
  }
}

@media (max-width: 760px) {
  .navbar-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
  }

  .navbar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .overlay-container {
    background-color: white;
    height: 550px;
    width: 95%;
    margin: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    z-index: 1;
    position: relative;
    border-top-left-radius: 9999px; /* Ensures a fully rounded corner */
    border-top-right-radius: 9999px;
  }

  .overlay {
    background-color: var(--color-primary);
    height: 85%;
    width: 85%;
    padding: 5% 0;
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 9999px; /* Ensures a fully rounded corner */
    border-top-right-radius: 9999px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  .overlay-content h1 {
    font-size: 24px;
    margin-bottom: 35%;
  }
  
  .overlay-content h2 {
    margin: 15% 0 5%;
    font-size: 20px;
  }
  
  .overlay-content p {
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
    font-size: 14px;
    text-transform: uppercase;
  }

  svg {
    width: 260px;
    height: 130px;
    position: absolute;
    top: 7%;
    left: 0;
    transform: rotate(-25deg);
  }

  .text {
    font-size: 26px;
    fill: var(--color-secondary);
  }

  .contact-container p {
    font-size: 22px;
    text-align: center;
    margin: 10% 5%;
    font-family: "Caprasimo", cursive;
    color: var(--color-secondary);
  }

  .contact-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 15% 5%;
    padding: 20px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5%;
  }

  .info-card {
    background-color: var(--color-secondary);
    width: 80%;
    height: 350px;
    margin: 5%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    color: var(--color-primary);
    text-align: center;
  }

  .gift h1 {
    font-size: 50px;
    margin: 5% 0;
    font-family: "Caprasimo", cursive;
    color: var(--color-secondary);
    text-align: center;
  }

  .gift p {
    font-size: 22px;
    text-align: center;
    font-family: "Caprasimo", cursive;
    color: var(--color-secondary);
    margin: 5% 0 0 0;
  }

  .gift-card {
    background-color: var(--color-secondary);
    width: 80%;
    height: 400px;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    color: var(--color-primary);
    text-align: left;
  }

  .gift-card p {
    font-size: 18px;
    margin: 5% 0;
    color: var(--color-primary);
    font-family: "Roboto", sans-serif;
    text-align: left;
  }
}

@media (max-width: 400px) {
    .overlay-content h1 {
        font-size: 22px;
        margin-bottom: 35%;
      }
      
      .overlay-content h2 {
        margin: 15% 0 5%;
        font-size: 18px;
      }
      
      .overlay-content p {
        font-family: "Roboto", sans-serif;
        margin-top: 5%;
        font-size: 14px;
        text-transform: uppercase;
      }
    
      svg {
        width: 260px;
        height: 130px;
        position: absolute;
        top: 5%;
        left: -7%;
        transform: rotate(-25deg);
      }
}
