@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* General */

:root {
    --color-primary: #F7E4D6;
    --color-secondary: #9F3E2E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}

.bold {
    font-weight: bold;
}

.text-c {
    font-family: 'Caprasimo', cursive;
}

.text-r {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    z-index: 999;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}

.navbar-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    font-size: 3rem;
}

.nav-logo a {
    text-decoration: none;
    color: var(--color-secondary);
}

.nav-links {
    display: flex;
    gap: 40px;
    font-size: 1.25rem;
    margin-left: 28px;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}

.nav-links a:hover {
    transform: scale(1.1);
}

.menu-icon {
    display: none;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 16px;
    gap: 8px;
}

/* Home */

.home {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.overlay-container {
    background-color: white;
    height: 950px;
    width: 850px;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    z-index: 1;
    position: relative;
    border-top-left-radius: 9999px; /* Ensures a fully rounded corner */
    border-top-right-radius: 9999px;
}

.overlay {
    background-color: var(--color-primary);
    height: 85%;
    width: 85%;
    padding: 5% 0;
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 9999px; /* Ensures a fully rounded corner */
    border-top-right-radius: 9999px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 2% 0;
    color: var(--color-secondary);
}

svg {
    width: 260px;
    height: 130px;
    position: absolute;
    top: 15%;
    left: 5%;
    transform: rotate(-35deg);
}

#curve {
    fill: transparent;
}

.text {
    font-size: 32px;
    fill: var(--color-secondary);
}

.overlay-content h1 {
    font-size: 40px;
    margin-bottom: 30%;
}

.overlay-content h2 {
    margin: 15% 0 5%;
    font-size: 35px;
}

.overlay-content p {
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    font-size: 26px;
    text-transform: uppercase;
}

.logo {
    z-index: 0;
    position: absolute;
    top: 15%;
    left: 5%;
    height: 30%;
}


.circles {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 50%;
    height: 350px;
    width: 350px;
    text-align: center;
    transition: transform 1s;
}

.circle:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.circle h2 {
    font-family: 'Caprasimo', cursive;
    margin-top: 15%;
}

/* Media Queries */

@media (max-width: 960px) {

    /* Navbar */

    .nav-links {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: inherit;
        margin-top: 10%;
        font-size: 1.25rem;
        text-align: center;
    }

    .mobile-menu a:hover {
        border-bottom: 5px solid currentColor;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 15%;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}



